In [60]:
# import packages to conduct data analysis and to make interactive charts and maps
import pandas as pd
import plotly.express as px
import numpy as np

In [61]:
# save file name as a variable with the file name in ""
usa = "USA Raw Data.csv"
am_samoa = "American Samoa Raw Data.csv"
diab = "Diabetes Incidence.csv"
diab_death = "Diabetes Deaths.csv"
# import data as a dataframe to manipulate
df_usa = pd.read_csv(usa)
df_am_samoa = pd.read_csv(am_samoa)
df_diab = pd.read_csv(diab)
df_diab_death = pd.read_csv(diab_death)

In [62]:
df_usa.head()

,Location,Year,Age,Sex,Cause of death or injury,Measure,Value,Lower bound,Upper bound
0,United States,2017,All ages,Both,HIV/AIDS resulting in other diseases,Percent of total DALYs,4.015265e-03,3.417301e-03,4.674818e-03
1,United States,1990 - 2017,All ages,Both,HIV/AIDS resulting in other diseases,DALYs annual % change,-5.555448e-02,NaN,NaN
2,United States,2017,All ages,Both,Diarrheal diseases,Percent of total DALYs,4.357876e-03,3.853549e-03,4.899768e-03
3,United States,1990 - 2017,All ages,Both,Diarrheal diseases,DALYs annual % change,1.339794e-02,NaN,NaN
4,United States,2017,All ages,Both,Typhoid fever,Percent of total DALYs,2.180000e-07,1.670000e-07,4.820000e-07

In [63]:
df_usa_pivot = pd.pivot_table(df_usa,
                               values = "Value",
                               index = ["Cause of death or injury","Year","Measure"],
                               aggfunc = np.mean).reset_index()

df_am_samoa_pivot = pd.pivot_table(df_am_samoa,
                               values = "Value",
                               index = ["Cause of death or injury","Year","Measure"],
                               aggfunc = np.mean).reset_index()

In [64]:
df_usa_pivot

,Cause of death or injury,Year,Measure,Value
0,Acne vulgaris,1990 - 2017,DALYs annual % change,-9.833460e-04
1,Acne vulgaris,2017,Percent of total DALYs,2.501179e-03
2,Acute glomerulonephritis,1990 - 2017,DALYs annual % change,1.360740e-02
3,Acute glomerulonephritis,2017,Percent of total DALYs,3.310110e-05
4,Acute hepatitis A,1990 - 2017,DALYs annual % change,-2.338721e-02
...,...,...,...,...
581,Whooping cough,2017,Percent of total DALYs,3.426590e-05
582,Yellow fever,1990 - 2017,DALYs annual % change,0.000000e+00
583,Yellow fever,2017,Percent of total DALYs,0.000000e+00
584,Zika virus,1990 - 2017,DALYs annual % change,0.000000e+00
585,Zika virus,2017,Percent of total DALYs,1.600000e-07

In [65]:
df_usa_2017 = df_usa_pivot.query('Year == ["2017"]')
df_usa_2017 = df_usa_2017.sort_values(by ="Value", ascending=False)

df_am_samoa_2017 = df_am_samoa_pivot.query('Year == ["2017"]')
df_am_samoa_2017 = df_am_samoa_2017.sort_values(by ="Value", ascending=False)

In [66]:
df_usa_90_17 = df_usa_pivot.query('Year == ["1990 - 2017"]')
df_usa_90_17 = df_usa_90_17.sort_values(by ="Value", ascending=False)

df_am_samoa_90_17 = df_am_samoa_pivot.query('Year == ["1990 - 2017"]')
df_am_samoa_90_17 = df_am_samoa_90_17.sort_values(by ="Value", ascending=False)

In [67]:
df_usa_90_17

,Cause of death or injury,Year,Measure,Value
366,Opioid use disorders,1990 - 2017,DALYs annual % change,0.044627
246,Indirect maternal deaths,1990 - 2017,DALYs annual % change,0.041363
122,Conflict and terrorism,1990 - 2017,DALYs annual % change,0.039249
90,Chronic kidney disease due to diabetes mellitu...,1990 - 2017,DALYs annual % change,0.036703
278,Liver cancer due to NASH,1990 - 2017,DALYs annual % change,0.033165
...,...,...,...,...
328,Multidrug-resistant tuberculosis without exten...,1990 - 2017,DALYs annual % change,-0.076863
228,HIV/AIDS - Drug-susceptible Tuberculosis,1990 - 2017,DALYs annual % change,-0.078101
550,Typhoid fever,1990 - 2017,DALYs annual % change,-0.078493
232,HIV/AIDS - Multidrug-resistant Tuberculosis wi...,1990 - 2017,DALYs annual % change,-0.109616
314,Measles,1990 - 2017,DALYs annual % change,-0.217869

In [68]:
df_am_samoa_90_17

,Cause of death or injury,Year,Measure,Value
304,Maternal deaths aggravated by HIV/AIDS,1990 - 2017,DALYs annual % change,0.050261
308,Maternal hypertensive disorders,1990 - 2017,DALYs annual % change,0.046309
422,Other pneumoconiosis,1990 - 2017,DALYs annual % change,0.046109
234,HIV/AIDS resulting in other diseases,1990 - 2017,DALYs annual % change,0.046002
444,Ovarian cancer,1990 - 2017,DALYs annual % change,0.039210
...,...,...,...,...
344,Neonatal encephalopathy due to birth asphyxia ...,1990 - 2017,DALYs annual % change,-0.037472
452,Paratyphoid fever,1990 - 2017,DALYs annual % change,-0.037827
552,Unintentional firearm injuries,1990 - 2017,DALYs annual % change,-0.046587
550,Typhoid fever,1990 - 2017,DALYs annual % change,-0.047143
526,Syphilis,1990 - 2017,DALYs annual % change,-0.052977

In [69]:
df_diab.head()

,Location,Year,Age,Sex,Cause of death or injury,Measure,Value,Lower bound,Upper bound
0,American Samoa,1990.0,All ages,Both,Diabetes mellitus,"New cases per 100,000",541.823915,589.249602,499.582519
1,American Samoa,1991.0,All ages,Both,Diabetes mellitus,"New cases per 100,000",549.609803,593.795020,508.278884
2,American Samoa,1992.0,All ages,Both,Diabetes mellitus,"New cases per 100,000",559.758075,603.153208,518.719661
3,American Samoa,1993.0,All ages,Both,Diabetes mellitus,"New cases per 100,000",572.067171,616.232773,529.783251
4,American Samoa,1994.0,All ages,Both,Diabetes mellitus,"New cases per 100,000",586.321260,632.516889,542.131996

In [70]:
df_diab_pivot = pd.pivot_table(df_diab,
                               values = "Value",
                               index = ["Location", "Year"],
                               aggfunc = np.mean).reset_index()
df_diab_death_pivot = pd.pivot_table(df_diab_death,
                               values = "Value",
                               index = ["Location", "Year"],
                               aggfunc = np.mean).reset_index()

In [71]:
df_diab_am_samoa = df_diab_pivot.query('Location==["American Samoa"]')
df_diab_usa = df_diab_pivot.query('Location==["United States"]')
df_diab_global = df_diab_pivot.query('Location==["Global"]')

In [72]:
line_diab_deaths = px.line(df_diab_death_pivot,
                                x = "Year",
                                y = "Value",
                                color = "Location",                                
                                hover_name = "Value",
                                title = "Deaths due to Diabetes per 100,000",
                                labels = {"Year":"Year", "Value":"Deaths"})
line_diab_deaths.write_html("line_diab_deaths.html")

In [74]:
line_diab = px.line(df_diab_pivot,
                                x = "Year",
                                y = "Value",
                                color = "Location",                                
                                hover_name = "Value",
                                title = "New Cases of Diabetes per 100,000",
                                labels = {"Year":"Year", "Value":"Cases"})
line_diab.write_html("line_diab.html")